---
  - name: Postfix | Install Postfix
    yum:
      name: postfix
      state: present

  - name: Postfix | Write main.cf file
    template:
      src: main.cf
      dest: /etc/postfix/main.cf
      owner: root
      group: root
      mode: 0644
    with_dict: "{{ postfix }}"

  - name: Postfix | Write master.cf file
    template:
      src: main.cf
      dest: /etc/postfix/master.cf
      owner: root
      group: root
      mode: 0644
    notify: start-postfix
    with_dict: "{{ postfix }}"

  - name: Postfix | Enable postfix on start up
    systemd:
      name: postfix
      enabled: yes
