{% if postfix.main.soft_bounce is defined %}
soft_bounce = {{ postfix.main.soft_bounce }}
{% else %}
#soft_bounce = no
{% endif %}

{% if postfix.main.queue_directory is defined %}
queue_directory = {{ postfix.main.queue_directory }}
{% else %}
queue_directory = /var/spool/postfix
{% endif %}

{% if postfix.main.command_directory is defined %}
queue_directory = {{ postfix.main.command_directory }}
{% else %}
command_directory = /usr/sbin
{% endif %}
